{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-button click=(route-action "goToHome") iconButton=true}}
      {{paper-icon "keyboard_backspace"}}
    {{/paper-button}}
    <span class="flex"></span>
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}
