<div class="layout-row layout-align-center">
  <div class="flex-20">
    {{books-card books=model.books}}
  </div>
  <div class="flex-20">
    {{students-card students=model.students}}
  </div>
  <div class="flex-30">
    {{messages-card messages=model.messages}}
  </div>
</div>
