<div class="layout-row layout-align-center">
  <div class="flex-20">
    {{c-students-card students=model.students}}
  </div>
  <div class="flex-20">
    {{c-books-card books=model.books}}
  </div>
  <div class="flex-30">
    {{c-messenger}}
  </div>
</div>
