<div class="layout-column layout-align-center-center">
  <img class="index-img" src="https://www.emberjs.com/images/community/meetup_x2-f28c1d56.png" alt="Ember Meetup" />
  {{#link-to 'demo-1'}}1. Method with RSVP.all{{/link-to}}
  {{#link-to 'demo-2'}}2. Method with Ember-concurrency{{/link-to}}
</div>
